.tab-refresher-highlight {
  outline: 2px solid #57afeb !important;
  outline-offset: 2px !important;
  transition: outline-offset 0.2s ease !important;
}

#tab-refresher-timer:hover {
  background-color: rgba(87, 175, 235, 1) !important;
  transform: scale(1.05) !important;
  transition: all 0.2s ease !important;
}
